@using ToDoList.Domain.Enum
@{
    ViewData["Title"] = "Home Page";
}

<h4 class="mb-3 text-muted">Создание задачи</h4>
<form id="createTaskForm">
    <div class="mb-3">
        <label class="form-label">Название задачи</label>
        <input name="name" type="text" class="form-control"/>
    </div>
    <label class="form-label">Приоритет задачи</label>
    <select name="priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    <div class="mb-3">
        <label class="form-label">Описание задачи</label>
        <textarea name="description" type="text" class="form-control" rows="3"></textarea>
    </div>
    <button id="createTask" class="btn-primary">Создать</button>
</form>

<br/>
<div class="row">
    <div class="form-group col-md-6">
        <label class="col-form-label">Название</label>
        <input name="nameTask" type="text" class="form-control"/>
    </div>
    <div class="form-group col-md-6">
        <label class="col-form-label">Приоритет</label>
        <select id="prioritiSearch" class="form-control mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    </div>
</div>
<br/>

<table class="table table-dark table-hover" id="taskTableId">
    <thead>
        <tr>
            <th>Название</th>
            <th>Сложность</th>
            <th>Описание</th>
            <th>Готовность</th>
            <th>Действие</th>
        </tr>
    </thead>
</table>

@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success"
            },
            buttonsStyling: false
        });

        let dataTable = $('#taskTableId').DataTable({
            info: false,
            serverSide: true,
            searching: false,
            sorting: false,
            paging: false,
            scrollCollapse: true,
            scrollY: '35vh',
            ajax: {
                url: '@Url.Action("TaskHandler")',
                method: 'POST',
                data: model
            },
            columns: [
                { data: 'name' },
                { data: 'priority' },
                { data: 'description' },
                { data: 'isDone' },
                {
                    data: null,
                    sortable: false,
                    render: function (data, type) {
                        return '<button class="btn btn-success btn-sm center-block">Выполнить</button>'
                    }
                }
            ],
            createdRow: function (nRow, data) {
                let handlerComplete = function() {
                    swalWithBootstrapButtons.fire({
                        title: "Вы уверены?",
                        icon: "warning",
                        confirmButtonText: "Да",
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("EndTask")',
                                data: { id: data.id },
                                success: function (response) {
                                    Swal.fire({
                                        title: 'Информация',
                                        text: response.description,
                                        icon: 'success',
                                        confirmButtonText: 'Окей'
                                    })
                                    dataTable.draw();
                                },
                                error: function (response) {
                                    Swal.fire({
                                        title: 'Информация',
                                        text: response.responseJSON.description,
                                        icon: 'error',
                                        confirmButtonText: 'Окей'
                                    })
                                }
                            });
                        }
                    });
                }
                for (let i = 0; i < dataTable.columns().header().length - 1; i++) {
                    $('td', nRow).eq(i).css('cursor', 'pointer');
                    $('td', nRow).eq(i).on('click', null);
                }
                $('td button', nRow).on('click', handlerComplete);
            }
        });

        function model() {
            return {
                Name: $('input[name="nameTask"]').val(),
                Priority: $('#prioritiSearch option:selected').val()
            }
        }

        $('input[name="nameTask"]').on('change', function () {
            dataTable.draw();
        });

        $('#prioritiSearch').on('change', function () {
            dataTable.draw();
        });

        $('#createTask').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Task")',
                data: $('#createTaskForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                    dataTable.draw();
                    $('#createTaskForm')[0].reset();
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            })
        });
    </script>
}